<form {{action "save" model on="submit"}}>
  <p class="form-name">
    <label>Name:</label>
    {{input type="text" value=model.name}}
  </p>

  <p class="form-health">
    <label>Health:</label>
    {{input type="number" value=model.health}}
  </p>

  <p class="form-damage">
    <label>Damage:</label>
    {{input type="number" value=model.damage}}
  </p>

  <p class="form-planet">
    <label>Planet:</label>
    <select class="my-select">
      {{#each planets as |planet|}}
        {{#if (eq planet.name model.planet.name)}}
          <option value="{{planet.id}}" selected>{{planet.name}}</option>
        {{else}}
          <option value="{{planet.id}}" >{{planet.name}}</option>

        {{/if}}
      {{/each}}
    </select>
  </p>

  <p>
    <input type="submit" class="button-submit">
  </p>

</form>
